.page-footer { padding: 96px 0; background: #2e2f42; }
.all-content { display: flex; flex-direction: column; align-items: center; gap: 72px; }
.logop-container, .social-container, .form-container { text-align: center; }
.footer-logo { display: inline-block; margin-bottom: 16px; }
.footer-logo .logo-part { color: #f4f4fd; }
.paragraf-footer { max-width: 264px; text-align: left; font-size: 16px; line-height: 1.5; letter-spacing: .02em; color: #f4f4fd; }
.title-media, .sub { margin-bottom: 16px; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: .02em; color: #fff; }
.list-media { display: flex; gap: 16px; }
.network-link { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; border-radius: 50%; background: #4d5ae5; }
.network-link:hover, .network-link:focus { background: #31d0aa; }
.footer-form { display: flex; flex-direction: column; gap: 16px; }
.name-label { display: block; }
.input-footer { width: 100%; height: 40px; padding-left: 16px; border: 1px solid #fff; border-radius: 4px; background: transparent; box-shadow: 0 4px 4px rgba(0,0,0,.15); color: #fff; font-size: 12px; line-height: 1.17; letter-spacing: .04em; }
.input-footer::placeholder { color: #fff; }
.button-footer { display: flex; align-items: center; justify-content: center; width: 165px; height: 40px; margin: 0 auto; border: 0; border-radius: 4px; background: #4d5ae5; color: #fff; font: 500 16px/1.5 "Roboto", sans-serif; letter-spacing: .04em; cursor: pointer; }
.footeg-ig { margin-left: 16px; fill: #fff; }
@media screen and (min-width: 768px) { .page-footer { padding: 96px 0; } .all-content { width: 552px; margin: 0 auto; flex-flow: row wrap; align-items: flex-start; column-gap: 24px; row-gap: 72px; } .logop-container, .social-container, .form-container { text-align: left; } .form-container { flex-basis: 100%; } .footer-form { flex-direction: row; gap: 24px; } .input-footer { width: 264px; } .button-footer { margin: 0; } }
@media screen and (min-width: 1158px) { .page-footer { padding: 100px 0; } .all-content { width: auto; margin: 0; flex-flow: row nowrap; gap: 0; } .logop-container { margin-right: 120px; } .social-container { margin-right: auto; } .form-container { flex-basis: auto; } }
